<?php
use Zend\Http\Client;

$serverUri = 'https://example.org/devel';
$authUri = $serverUri . '/phpid-server/oic/authorize';
$tokenUri = $serverUri . '/phpid-server/oic/token';
$userInfoUri = $serverUri . '/phpid-server/oic/userinfo';

$clientAuthorization = 'secret auth=secretstring';

//-----------------------
function _getClient ()
{
    $adapter = new Client\Adapter\Socket();
    $client = new Client();
    $client->setOptions(array(
        'maxredirects' => 3, 
        'strictredirects' => true
    ));
    $client->setAdapter($adapter);
    
    $adapter->setStreamContext(array(
        'ssl' => array(
            'cafile' => '/etc/ssl/certs/tcs-ca-bundle.pem'
        )
    ));
    
    return $client;
}


function _dumpResponse (\Zend\Http\Response $response)
{
    _dump('=====[ RESPONSE ]=====');
    _dump("$response");
    _dump('======================');
}


function _dumpRequest (\Zend\Http\Request $request)
{
    $getParams = $request->getQuery();
    $uri = $request->getUri();
    $uri->setQuery($getParams->toArray());
    
    _dump("-----[ REQUEST ]-----");
    _dump("$request");
    
    $postParams = $request->getPost();
    if (! empty($postParams)) {
        _dump($postParams->toString());
    }
    _dump("---------------------");
}