<?php

namespace PhpIdServer;

return array(
    
    'logger' => array(
        'writers' => array(
            array(
                'name' => 'stream', 
                'options' => array(
                    'stream' => '/data/var/log/devel/phpid-server/phpid-server.log'
                )
            )
        )
    ), 
    
    'client_registry_storage' => array(
        'type' => 'SingleJsonFileStorage', 
        'options' => array(
            'json_file' => 'data/client/metadata.json'
        )
    ), 
    
    'authentication' => array(
        'handler_endpoint_route' => 'php-id-server/authentication-endpoint-dummy'
    ), 
    
    'context_storage' => array(
        'type' => 'Session', 
        'options' => array(
            'session_container_name' => 'authorize'
        )
    ), 
    
    'session_storage' => array(
        'type' => 'MysqlLite', 
        'options' => array(
            
            'session_table' => 'session', 
            'authorization_code_table' => 'authorization_code', 
            'access_token_table' => 'access_token', 
            'refresh_token_table' => 'refresh_token', 
            
            'adapter' => array(
                'driver' => 'Pdo_Mysql', 
                'host' => 'localhost', 
                'username' => 'user', 
                'password' => 'passwd', 
                'database' => 'phpidserver'
            )
        )
    ), 
    
    'session_id_generator' => array(
        'type' => 'Simple', 
        'options' => array(
            'secret_salt' => 'tajna sul'
        )
    ), 
    
    'user_serializer' => array(
        'adapter' => array(
            'name' => 'PhpSerialize', 
            'options' => array()
        )
    )
);

