<?php

return array(
    
    'session_storage' => array(
        'options' => array(
            'adapter' => array(
                'username' => 'username' 
                'password' => 'password'
            )
        )
    ), 
    
    'session_id_generator' => array(
        'options' => array(
            'secret_salt' => 'secret salt'
        )
    )
    
    'logger' => array(
        'writers' => array(
            'stream' => array(
                'options' => array(
                    'stream' => '/data/var/log/phpid-server.log'
                ),
                'filters' => array(
                    'priority' => 7
                ),
                'formatter' => array(
                    'format' => '%timestamp% %priorityName% (%priority%): %message% %extra%',
                    'dateTimeFormat' => 'Y-m-d H:i:s'
                )
            )
        )
    ),
    
    'user_factory' => array(
        'user_class' => '\PhpIdServer\User\User'
    ), 
    
    'data_connectors' => array(
        'test' => array(
            'class' => '\PhpIdServer\User\DataConnector\Dummy', 
            'options' => array()
        )
    ), 
    
    'user_info_mapper' => array(
        'class' => '\PhpIdServer\User\UserInfo\Mapper\ToArray'
    ),
    
    'authentication_handlers' => array(
        
        'shibboleth' => array(
            'options' => array(
                'attribute_filter' => array(
                    'REMOTE_USER' => array(
                        'name' => 'eppn', 
                        'required' => true
                    ), 
                    'mail' => array(
                        'name' => 'mail', 
                        'required' => true, 
                        'validators' => array(
                            array(
                                'name' => 'email_address'
                            )
                        )
                    ), 
                    'givenName' => array(
                        'name' => 'givenName', 
                        'required' => true
                    ), 
                    'sn' => array(
                        'name' => 'sn', 
                        'required' => true
                    )
                )
            )
        )
    )
);