<?php

return array(
    
    'session_storage' => array(
        'type' => 'MysqlLite',
        'options' => array(
            
            'session_table' => 'session',
            'authorization_code_table' => 'authorization_code',
            'access_token_table' => 'access_token',
            'refresh_token_table' => 'refresh_token',
            
            'adapter' => array(
                'driver' => 'Pdo_Mysql',
                'host' => 'localhost',
                'database' => 'oic_server_test',
                'username' => 'oic_admin',
                'password' => 'OicadmiN'
            )
        )
    ),
    
    'logger' => array(
        'writers' => array(
            'stream' => array(
                'options' => array(
                    'stream' => '/data/var/log/openid_test/server.log'
                ),
                'filters' => array(
                    'priority' => 7
                ),
                'formatter' => array(
                    'format' => '%timestamp% %priorityName% (%priority%): %message% %extra%',
                    'dateTimeFormat' => 'Y-m-d H:i:s'
                )
            )
        )
    ),
    
    'client_registry_storage' => array(
        'type' => 'SingleJsonFileStorage',
        'options' => array(
            'json_file' => 'data/client/metadata.json'
        )
    ),
    
    'authentication_handlers' => array(
        
        'basic-auth' => array(
            'class' => 'PhpIdServer\Authentication\Controller\BasicAuthController',
            'options' => array(
                'file' => 'data/auth/users.php'
            )
        )
    )
);